{% extends 'base_layout.html' %} {% block content %}
<style>
  @import url("static/css/about.css");
</style>
<!-- <script src="static/js/view_detection.js"></script> -->

<main class="container">
  <div class="about-section">
    <div class="inside-about-content">
      <h1>Welcome to [Your Project Name]</h1>

      <p>
        The safety of workers in the oil industry is of paramount importance.
        Accidents can have severe consequences, including injury, loss of life,
        and environmental damage. To mitigate risks, this project aims to
        develop a computer vision-based system for safety measurement in the oil
        industry. The system will detect and monitor the usage of safety
        equipment such as vests and hard hats, as well as identify restricted
        areas in real-time.The safety of workers in the oil industry is of
        paramount importance. Accidents can have severe consequences, including
        injury, loss of life, and environmental damage. To mitigate risks, this
        project aims to develop a computer svision-based system for safety
        measurement in the oil industry. The system will detect and monitor the
        usage of safety equipment such as vests and hard hats, as well as
        identify restricted areas in real-time.
      </p>

      <h2>Functionalities</h2>

      <ul>
        <li>
          <h3>Safety Detection</h3>
          <ul>
            <li>Analysis of safety gear including helmets and vests.</li>
            <li>Utilizes advanced computer vision and AI algorithms.</li>
            <li>
              Ensures compliance with safety protocols by identifying personnel
              wearing proper safety equipment.
            </li>
          </ul>
        </li>
        <li>
          <h3>Restricted Area Detection</h3>
          <ul>
            <li>
              Accurate detection and tracking of personnel entering restricted
              zones.
            </li>
            <li>
              Enhances security and access control, allowing only authorized
              personnel in critical areas.
            </li>
            <li>
              Automatic counting and logging of personnel entering into the
              restricted area.
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</main>
{% endblock %}
