{% extends 'base_layout.html' %} {% block content %}
<style>
  @import url("static/css/about.css");
</style>
<!-- <script src="static/js/view_detection.js"></script> -->

<main class="container">
  <div class="about-section">
    <div class="inside-about-content">
      <div class="about-img">
        <img
          src="static/images/project-about2.png"
          alt="project about img"
          width="700"
          height="700"
        />
      </div>
      <div class="about-text">
        <h1>Welcome to Safety Hazzard Detection</h1>
      </div>
    </div>
    <div class="functionalities">
      <h2>Our Services</h2>
      <div class="func">

        <div class="func-text">
          
          <ul>
  
            <li>
              <h3>Safety Detection</h3>
              <ul>
                <div class="func-subtext">
  
                  <li>Analysis of safety gear including helmets and vests.</li>
                  <li>Utilizes advanced computer vision and AI algorithms.</li>
                  <li>
                    Ensures compliance with safety protocols by identifying personnel
                    wearing proper safety equipment.
                  </li>
  
                </div>
  
              </ul>
            </li>
          </ul>
        </div>
        <div class="func-img">
          <img src="static/images/safety-vectorimg.jpg" alt="restricted-about.png" width=400 height=400>
        </div>
      </div>
      <div class="func">

        <div class="func-img">
          <img src="static/images/restricted-about.png" alt="restricted-about.png" width=400 height=400>
        </div>
  
        <div class="func-text">
          <ul>
            <li>

                <h3>

                Restricted Area Detection
              </h3>
              <div class="func-subtext">

                <ul>
                  <li>
                  Accurate detection and tracking of personnel entering restricted
                  zones.
                </li>
                <li>
                  Enhances security and access control, allowing only authorized
                  personnel in critical areas.
                </li>
                <li>
                  Automatic counting and logging of personnel entering into the
                  restricted area.
                </li>
              </ul>
            </div>
            </li>
            </ul>
        </div>
      </div>

    </div>
  </div>
</main>
{% endblock %}
