<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/common.css" />
    <link rel="stylesheet" href="static/css/style.css" />
    <style>
      nav {
        background-color: #333;
        color: white;
        padding: 10px;
        text-align: center;
      }

      nav a {
        color: white;
        text-decoration: none;
        margin: 0 10px;
        font-size: 16px;
      }

      nav a:hover {
        text-decoration: underline;
        color: rgb(135, 255, 157);
      }
    </style>
  </head>
  <body>
    <nav>
      <a href="dashboard">Dashboard</a>
      <a href="safety-detection">Safety Detection</a>
      <a href="restricted-area-detection">Restricted Area Detection</a>
    </nav>
    {% block custom_content %}{% endblock %}
  </body>
</html>
