<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/global.css" />
    <title>Dashboard</title>
  </head>
  <body>
    <div id="preloader"></div>
    <nav class="navbar">
      <img src="static/images/logo2.png" alt="Logo" />
      <div class="link">
        <a href="dashboard">Home</a>
        <a href="safety-detection">Safety Detection</a>
        <a href="restricted-area-detection">Restricted Area Detection</a>
      </div>
      <div class="user">
        <p>Welcome <b>{{user.username.capitalize()}}</b></p>
        <a class="logout" href="logout">Logout</a>
      </div>
    </nav>
    <div class="content">{% block content %} {% endblock %}</div>
    <footer>
      <div class="footer">
        <p>
          Copyright © 2024 All rights reserved and made with ♥ by
          <strong>Safety Hazzard Detection Project</strong>
        </p>
      </div>
    </footer>

    <script>
      let loader = document.getElementById("preloader");

      window.addEventListener("load", () => {
        loader.style.display = "none";
      });
    </script>
  </body>
</html>
