{% extends 'base_layout.html' %} {% block content %}
<style>
  @import url("static/css/home.css");
</style>
<script src="static/js/home.js"></script>
<div class="home">
  <div onclick="gotoUrl('safety-detection')">
    <p>Safety Equipments Detection</p>
    <div class="video-bg">
      <video
        class="home-video"
        src="static/video/restricted_area.mp4"
        autoplay
        muted
        loop
      />
    </div>
  </div>

  <div onclick="gotoUrl('restricted-area-detection')">
    <p>Restricted Area Detection</p>
    <div class="video-bg">
      <video
        class="home-video"
        src="static/video/restricted_area.mp4"
        autoplay
        muted
        loop
      />
    </div>
  </div>
</div>
{% endblock %}
