{% extends 'base_layout.html' %} {% block content %}
<style>
  @import url("static/css/home.css");
</style>
<div class="home">
  <div>
    <p>Restricted Area Detection</p>
    <div class="video-bg">
      <video
        class="home-video"
        src="static/video/restricted_area.mp4"
        autoplay
        muted
        loop
      />
    </div>
  </div>
  <div>
    <p>Safety Equipments Detection</p>
    <div class="video-bg">
      <video
        class="home-video"
        src="static/video/restricted_area.mp4"
        autoplay
        muted
        loop
      />
    </div>
  </div>
</div>
{% endblock %}
