<!-- templates/login.html -->

{% extends 'base_layout.html' %}

{% block title %}Login - Your App Title{% endblock %}

{% block custom_content %}
<div class="container">
    <h1>Login</h1>
    <form method="post" action="{{ url_for('login') }}">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Login</button>
    </form>
</div>
{% endblock %}
