{% extends 'base_layout.html' %} {% block content %}
<style>
  @import url("static/css/safety_detection.css");
</style>
<script src="static/js/safety_detection.js"></script>

<div class="safety-container">
  <div>
    <h3>Safety Detection</h3>

    <label for="video">Upload Video: </label>
    <input
      type="file"
      name="video"
      placeholder="Upload video"
      id="video"
      required
      accept="video/*"
    />

    <button id="safety-detection-btn">Submit</button>
  </div>
</div>

{% endblock %}
