@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #080710;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    font-size: 18px;
    text-align: center;
    color: #080710;
    background-color: white;
}

.navbar>.link {
    display: flex;
    align-items: center;
}

.navbar>.link>a {
    display: inline-block;
    color: #080710 !important;
    margin: 0 10px;
}

.navbar img {
    width: 200px;
}

.navbar>.user {
    display: flex;
    align-items: center;
}

.navbar>.user>.logout {
    margin-left: 10px;
    padding: 8px 15px;
    background-color: #080710;
    border-radius: 10px;
    text-decoration: none !important;
}

.content {
    min-height: 100vh;
}

.footer {
    padding: 20px;
    font-size: 18px;
    text-align: center;
    color: #080710;
    background-color: white;
}

#preloader {
    position: fixed;
    height: 100vh;
    width: 100%;
    background: #000 url("../images/loader.gif") no-repeat center center;
    background-size: 40%;
    opacity: 90%;
    z-index: 100;
}