{% extends 'base_layout.html' %} {% block content %}
<style>
  @import url("static/css/restricted_area_detection.css");
</style>

<div class="restricted-area-container">
  <div>
    <h3>Restricted Area Detection</h3>

    <label for="video">Upload Video: </label>
    <input
      type="file"
      name="video"
      placeholder="Upload video"
      id="video"
      accept="video/*"
    />

    <button id="submit-button">Submit</button>
  </div>
</div>
<script src="static/js/restricted_area_detection.js"></script>
{% endblock %}
